@import "Variables";

.background {
  background-color: darkBlue1;
}

.homeMainContainer {
  display: flex;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.homeHeader {
  color: #06aed5;
}
