:root {
  --darkBlue: #1b143d;
  --blue: #3f88c5;
  --lightBlue: #99f8ff;
  --orange: #f49d37;
  --lightOrange: #f47352;
  --homeFont: Consolas;
  /* Website palette https://coolors.co/1b143d-3f88c5-99f8ff-f49d37-f47352
       Fonts: Consolas */
}

html,
body,
section {
  height: 100%;
}

body {
  color: #fff;
  font-family: var(--homeFont);
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  text-shadow: 0 2px 2px #b6701e;
}

.homeMainContainer {
  display: flex;
}

/* Container for About half on the home page */
.homeLeftContainer {
  flex: 1;
  background-color: var(--lightBlue);
  padding: 1rem;
}

/* Container for the word doodle half of the home page */
.homeRightContainer {
  flex: 1;
  background-color: var(--blue);
  padding: 1rem;
}

/* Center contatiner for the Name header and page link icons */
.homeAboutContainer {
  display: flex;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* Home header */
.homeHeader {
  color: var(--blue);
}
