html {
  overflow-y: scroll;
  scrollbar-width: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.shadow_bar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5acae), to(#fefffa));
  background-image: linear-gradient(#a5acae, #fefffa);
  width: 100%;
  height: 0.7rem;
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  overflow-x: clip;
}

.main_container .header_container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  background-color: #65c8ff;
  width: 100%;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
}

.main_container .header_container h1 {
  font-size: 64px;
  color: rgba(22, 33, 43, 0.8);
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.main_container .header_container h3 {
  font-size: 15px;
  color: rgba(22, 33, 43, 0.8);
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
}

.main_container .about_container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_container .about_container .about_header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.main_container .about_container .about_header_container h2 {
  font-size: 32px;
  color: rgba(22, 33, 43, 0.8);
  font-weight: 300;
  letter-spacing: 2px;
  position: relative;
  padding: 2rem 0rem 1rem 2rem;
}

.main_container .about_container .about_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background: #DFE4E7;
  border-radius: 28px;
  -webkit-box-shadow: 0px 3px #a5acae;
          box-shadow: 0px 3px #a5acae;
}

.main_container .about_container .about_content_container .about_content_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_container .about_container .about_content_container .about_content_main .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  .main_container .about_container .about_content_container .about_content_main .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main_container .about_container .about_content_container .about_content_main .description p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  margin: 0rem 4rem 0rem 0rem;
  font-size: 16px;
  color: rgba(22, 33, 43, 0.8);
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 2;
}

@media only screen and (max-width: 700px) {
  .main_container .about_container .about_content_container .about_content_main .description p {
    margin: 4rem 2rem 0rem 2rem;
  }
}

.main_container .about_container .about_content_container .about_content_main .description .selfie {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 250px;
  margin: 2rem 2rem 0rem 4rem;
}

.main_container .about_container .about_content_container .about_content_main .hobbies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  .main_container .about_container .about_content_container .about_content_main .hobbies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main_container .about_container .about_content_container .about_content_main .hobbies .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 250px;
  margin: 2rem 4rem 0rem 4rem;
}

.main_container .about_container .about_content_container .about_content_main .hobbies .icons #workout {
  max-width: 150px;
}

.main_container .about_container .about_content_container .about_content_main .hobbies p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  margin: 0rem 4rem 0rem 0rem;
  font-size: 16px;
  color: rgba(22, 33, 43, 0.8);
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 2;
}

@media only screen and (max-width: 700px) {
  .main_container .about_container .about_content_container .about_content_main .hobbies p {
    margin: 4rem 2rem 0rem 2rem;
  }
}

.main_container .about_container .about_content_container .about_content_main .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.main_container .footer_container {
  margin-top: 10rem;
}

/*.top-container
 display: flex
 width: 100%
 flex: auto

    .color-bar
        flex: initial
        height: 5em
        width: 100%
        background-image: linear-gradient(90deg, $blue, $light-blue, $white)
        box-shadow: 0 0 1em 0 $black */
/*.body-container
 display: flex
 align-items: center
 justify-content: center
 flex: 1
 flex-direction: row
 .body-left-container
 display: flex
 align-items: center
 flex-direction: column
 flex: 3
 .name
 flex: auto
 h1
 position: relative
 top: -0.4em
 left: -1em
 margin: 0
 font-family: $sans
 font-size: 100px
 color: $black
 font-weight: 300
 letter-spacing: 2px
 text-decoration: underline
 text-underline-position: under
 text-shadow: 5px 1px $light-blue
 .navbar-container
 @include centerize
 flex: auto
 width: 100%
 position: sticky
 padding-top: 0.5em
 background-color: $white
 border-bottom: 0.2em solid $grey
 top: 0em
 ul
 list-style: none
 @include centerize
 flex-direction: row
 font-family: $sans
 font-size: 30px
 li
 a
 height: 50px
 margin-left: 1em
 margin-right: 1em
 text-decoration: none
 color: $black
 border-bottom: 0.2em solid $white
 position: relative
 transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out
 &:hover
 border-bottom-color: $light-blue
 color: $blue
 .content-container
 @include centerize
 flex-flow: column
 color: $black
 .about
 @include centerize
 width: 100%
 flex-direction: column
 background-color: $opalRed
 .skills
 width: 100%
 @include centerize
 flex-direction: column
 background-color: $emeraldGreen
 .work
 width: 100%
 @include centerize
 flex-direction: column
 background-color: $cerulean
 .contact
 width: 100%
 @include centerize
 flex-direction: column
 background-color: $yellowRed
 .coop
 width: 100%
 @include centerize
 flex-direction: column
 background-color: $tangerine
 #About
 height: 0px
 position: relative
 top: -6em
 #Skills
 height: 0px
 position: relative
 top: -6em
 #Work
 height: 0px
 position: relative
 top: -6em
 #Contact
 height: 0px
 position: relative
 top: -6em
 #Coop
 height: 0px
 position: relative
 top: -6em
 h1
 font-size: 60px
 color: $black
 font-weight: 400
 letter-spacing: 2px
 p
 padding: 0em 8em 0em 8em */
/*.body-right-container
 display: flex
 flex: 1
 height: 100vh
 position: sticky
 top: -20em
 background-color: $light-blue */
/* Unity styling stuff*/
#unity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}

#unity-canvas {
  background: #231f20;
}

.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}

#unity-loading-bar {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

#unity-logo {
  width: 154px;
  height: 130px;
  background: url("unity-logo-dark.png") no-repeat center;
}

#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-empty-dark.png") no-repeat center;
}

#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-full-dark.png") no-repeat center;
}

#unity-footer {
  position: relative;
}

.unity-mobile #unity-footer {
  display: none;
}

#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
}

#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
}

#unity-fullscreen-button {
  float: right;
  width: 38px;
  height: 38px;
  background: url("fullscreen-button.png") no-repeat center;
}

#unity-mobile-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}
/*# sourceMappingURL=style.css.map */